*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

#header{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header nav{
    position: fixed;
    top: 0;
}

#nav-bar a{
    padding: 5px;
    border-right: 1px black;
}